/* PROJECT PAGE STYLES */

.projectPage {
  height: calc(100vh - 7rem);
  overflow-y: scroll;
}

.projectPage__main-content {
  padding: 1rem;
}

.projectPage__btns-container,
.projectPage__back-link span,
.projectPage__edit-btn,
.projectPage__progress-text,
.projectPage__status-container,
.projectPage__progress-container {
  display: flex;
  align-items: center;
}

/* ==Upper btns== */
.projectPage__btns-container {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.projectPage__back-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem;
  border-radius: 12px;
  text-decoration: none;
  background-color: rgb(33, 114, 180);
  transition: background-color 0.3s;
}

.projectPage__back-link:hover {
  background-color: rgb(26, 79, 122);
}

.projectPage__back-link span {
  justify-content: center;
  gap: 1rem;
}

.projectPage__options {
  display: flex;
  align-items: center;
  color: rgb(22, 22, 22);
  border: none;
  border-radius: 50px;
  background-color: rgb(199, 199, 199);
  padding: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projectPage__options:hover {
  color: #fff;
  background-color: rgb(110, 110, 110);
}

/* ==Options Container */
.projectPage__options-container {
  display: none;
}

.projectPage__options-container.active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 12rem;
  right: 4.5rem;
  color: #fff;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  border-top-right-radius: 0px;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  z-index: 20;
}

.projectPage__options-btn,
.projectPage__options-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  width: 8rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projectPage__options-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectPage__options-btn:hover,
.projectPage__options-link:hover {
  background-color: grey;
}

/* ==Project Info== */
.projectPage__info {
  margin-bottom: 7rem;
}
.projectPage__title {
  text-align: center;
  margin-bottom: 2rem;
}

.projectPage__description {
  margin-bottom: 3rem;
}

/* ==Status Container */
.projectPage__status-container {
  justify-content: space-around;
  margin-bottom: 2rem;
}

.projectPage__status-label {
  font-weight: 500;
}

/* ==Circular Progress== */
.projectPage__progress-container {
  justify-content: center;
  width: 100%;
}

.projectPage__progress-container svg {
  width: 20rem;
  height: auto;
}

.projectPage__progress-text {
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

.projectPage__progress-text span:first-child {
  font-size: 3rem;
}

@media (min-width: 1100px) {
  .projectPage__info {
    display: flex;
    justify-content: space-around;
  }

  .projectPage__progress-container {
    width: fit-content;
  }

  .projectPage__description {
    max-width: 60ch;
    margin: 0;
  }
}
