/* UPDATES COMPONENT STYLES */

.updates__title,
.updates,
.updates__notFound-container,
.updates__items {
  display: flex;
  align-items: center;
}

.updates__container {
  color: #fff;
  background-color: #371b58;
  height: 50rem;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.updates__title {
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 100%;
  height: 10%;
}

.updates__btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #371b58;
  padding: 1rem 3rem;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.updates__btn:hover {
  background-color: rgb(190, 190, 190);
}

.updates,
.updates__items {
  flex-direction: column;
  width: 100%;
}

.updates {
  justify-content: space-between;
  gap: 2.5rem;
  height: 90%;
  overflow-y: scroll;
}

.updates__items {
  gap: 1rem;
}

.updates__notFound-container {
  justify-content: center;
  width: 100%;
  height: 100%;
}
