/* ==CONFIRMATION COMPONENT STYLES== */
.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 9px 9px -1px rgba(94, 94, 94, 0.75);
  min-width: 34rem;
  min-height: 22rem;
  width: clamp(20rem, 80%, 40rem);
  padding: 2rem;
  z-index: 20;
}

/* ==Modal Logo== */
.confirmation__logo {
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
}

.confirmation__logo[data-action="update"],
.confirmation__logo[data-action="create"] {
  color: green;
}
.confirmation__logo[data-action="delete"] {
  color: red;
}

.confirmation__logo svg {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

/* ==Modal Information== */
.confirmation__title,
.confirmation__description {
  color: rgb(26, 26, 26);
}
.confirmation__title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.confirmation__description {
  margin-bottom: 3rem;
}

/* ==Modal Buttons== */
.confirmation__btns-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.confirmation__btns-container button {
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation__action-btn[data-action="update"],
.confirmation__action-btn[data-action="create"] {
  color: #fff;
  background-color: seagreen;
}

.confirmation__action-btn[data-action="delete"] {
  color: #fff;
  background-color: rgb(92, 3, 3);
}
