/* NAVIGATION STYLES */
/* ==Navigation Component== */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  width: 100%;
}

/* ==Navigation logo== */
.navigation__logo {
  display: flex;
  align-items: center;
}

.navigation__logo img {
  height: 5rem;
  width: 5rem;
}

.navigation__logo p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(98, 89, 223);
}

/* ==Navigation button== */
.navigation__btn {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(236, 236, 236);
  height: fit-content;
  width: fit-content;
  padding: 1rem 1.5em;
  border: none;
  background-color: rgb(98, 89, 223);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation__btn:hover {
  background-color: rgba(76, 55, 153, 0.719);
}

.navigation__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(236, 236, 236);
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border: none;
  background-color: rgb(98, 89, 223);
  border-radius: 4px;
}

.navigation__menu-btn svg {
  height: 1.2em;
  width: 1.2em;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  .navigation__menu-btn {
    display: none;
  }
}

@media (min-width: 920px) {
  .navigation__btn {
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
  }
}
