/* NOT FOUND PAGE STYLES */

.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 7rem);
}

.notFoundPage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.notFoundPage__link {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background-color: rgb(4, 131, 204);
  text-decoration: none;
  padding: 1rem;
  border-radius: 9px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border 0.3s;
}

.notFoundPage__link:hover {
  color: rgb(48, 48, 48);
  background-color: rgb(241, 241, 241);
  border: 2px solid rgb(4, 131, 204);
}
